body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

/* full-screen overlay */
#intro {
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    text-align: center;
}

#intro p {
    padding-left: 1em;
    padding-right: 1em;
}

.light-mode #intro {
    background: #eee;
}

.dark-mode #intro {
    background: #222;
}

#playButton {
    border: 1px solid #333;
    border-radius: 15px;
    padding: .5em;
    cursor: hand;
}

.light-mode #playButton {
    background: white;
}

.dark-mode #playButton {
    background: black;
}

#content {
    text-align: center;
}

#header {
    text-align: center;
    width: 8.5em;
    display: flex;
    margin: 0 auto; /* center myself */
    align-items: center; /* Vertically align items */
    justify-content: center; /* Horizontally center items */
    font-size: 42px;
    font-weight: bold;
    padding: .5em 0 .4em 0;
}

#attempts {
    align-items: center;
    font-weight: bold;
    padding-bottom: .75em;
}

#attempts .dot {
    font-size: .75em;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #ccc;
}

#header img {
    max-width: 30px;
}

#header span {
    flex-grow: 1;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-gap: 10px;
    justify-content: center;
}    

.tile {
    color: white;
    font-size: 36px;
    font-weight: bold;
    border: 1px solid gray;
    height: 80px;
    width: 80px;
    text-align: center;
    text-transform: uppercase;
    line-height: 80px;
    box-sizing: border-box; /* to prevent "glow" from shifting the box */
}

.currentTile {
    border: 0;

}

.light-mode .currentTile {
    /* not sure if we want this */
    /* border: 0px; */
    color: black;
}

.dark-mode .currentTile {
    /* not sure if we want this */
    /* border: 0px; */
    color: white;
}

.glow {
    /* not sure if we want this yet either */
    /*border: 2px solid white;*/
}

.dark-mode .filled {
    background: #333;
}

.light-mode .filled {
    background: #666;
}

.dark-mode .correct {
    background: #007700;
}

.light-mode .correct {
    background: #119911;
}
