body {
    background-color: black;
    color: white;
}

#content {
    text-align: center;
}

#header {
    color: white;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    padding: 20px 10px 40px 10px;
}

#instructions {
    padding: 10px;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-gap: 10px;
    justify-content: center;
}    

.tile {
    color: white;
    font-size: 36px;
    font-weight: bold;
    border: 1px solid gray;
    height: 80px;
    width: 80px;
    text-align: center;
    text-transform: uppercase;
    line-height: 80px;
    box-sizing: border-box; /* to prevent "glow" from shifting the box */
}

.currentTile {
    /* not sure if we want this */
    /* border: 0px; */
}

.glow {
    /* not sure if we want this yet either */
    /*border: 2px solid white;*/
}

.filled {
    background: #222;
}

.correct {
    color: #33ff33;
}

