@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');

body {
  margin: 0;
  display: flex;
  font-family: "Press Start 2P", cursive;
  touch-action: manipulation;
}

#controls {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
  align-items: flex-start;
}

#controls div {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px;
}

#controls button {
  height: 70px;
  width: 70px;
  background-color: white;
  border: 1px solid darkgray;
  font-size: 2em;
}

#controls button#forward {
  grid-column: 2;
  grid-row: 1;
}

#controls button#left {
  grid-column: 1;
  grid-row: 2;
}

#controls button#backward {
  grid-column: 2;
  grid-row: 2;
}

#controls button#right {
  grid-column: 3;
  grid-row: 2;
}

#score {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2em;
  font-weight: bold;
  color: gray;
}

#game-over {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: bold;
  visibility: hidden;
}

#game-over button {
  font-family: inherit;
  font-size: inherit;
  padding: 5px;
  margin: 5px;
}